USE [QLNHATRO_ChuQuocHuy_Ps36739]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDanhGia] [int] NOT NULL,
	[MaNhaTro] [int] NOT NULL,
	[LikeStatus] [bit] NOT NULL,
	[NoiDungDanhGia] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHA](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DienThoai] [varchar](15) NOT NULL,
	[SoNha] [nvarchar](100) NULL,
	[TenDuong] [nvarchar](200) NULL,
	[TenPhuong] [nvarchar](100) NULL,
	[Quan] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATRO](
	[MaNhaTro] [int] IDENTITY(1,1) NOT NULL,
	[MaLoai] [int] NOT NULL,
	[DienTich] [decimal](10, 2) NULL,
	[GiaPhong] [money] NULL,
	[SoNha] [nvarchar](100) NULL,
	[TenDuong] [nvarchar](200) NULL,
	[TenPhuong] [nvarchar](100) NULL,
	[Quan] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayDangTin] [date] NULL,
	[MaNguoiLienHe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NHATRO] ADD  DEFAULT (getdate()) FOR [NgayDangTin]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD FOREIGN KEY([MaNguoiDanhGia])
REFERENCES [dbo].[NGUOIDUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD FOREIGN KEY([MaNhaTro])
REFERENCES [dbo].[NHATRO] ([MaNhaTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHATRO]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAINHA] ([MaLoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHATRO]  WITH CHECK ADD FOREIGN KEY([MaNguoiLienHe])
REFERENCES [dbo].[NGUOIDUNG] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([LikeStatus]=(1) OR [LikeStatus]=(0)))
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NHATRO]  WITH CHECK ADD CHECK  (([DienTich]>(0)))
GO
ALTER TABLE [dbo].[NHATRO]  WITH CHECK ADD CHECK  (([GiaPhong]>(0)))
GO
